---
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = "About"
---
<MainLayout title={pageTitle}>
  <p>
    My name is Stefan and I built my first astro page with html 
  </p> 
</MainLayout>

<style></style>