---

---
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/hobbies">Hobbies</a>
<h1>My Hobbies</h1>
<ul>
  <li>Chess</li>
  <li>Table Tennis</li>
  <li>Learning the latest Tech Framework</li>
</ul>
 
<style></style>