---

---
<footer class="p-4 bg-slate-700 flex justify-between">
  <span class="text-white">
    @ 2022 <a href="/">Astro</a>. All rights reserved
  </span>
  <ul class="flex flex-wrap items-center gap-x-5 text-white h-20">
    <li>
      <a href="/about" class="hover:underline">About</a>
    </li>
    <li>
      <a href="#" class="hover:underline">Privacy Policy</a>
    </li>
    <li>
      <a href="#" class="hover:underline">Contact</a>
    </li>
  </ul>
</footer>
 
<style></style>