---

---

<nav class="bg-slate-700 mb-10">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <div class="w-full">
      <ul class="flex p-4 mt-4 justify-around text-lg">
        <li>
          <a href="/" class="text-white hover:text-orange-400">Home</a>
        </li>
        <li>
          <a href="/about" class="text-white hover:text-orange-400">About</a>
        </li>
        <li>
          <a href="/hobbies" class="text-white hover:text-orange-400">Hobbies</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 
<style></style>